<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <div class="">
        <div class="card ">
            <p-card class="login">
                <h1>LOGIN</h1>
                <div>
                    <label for="">Username</label>
                    <input type="text" pInputText style="width: 100%;" />
                </div>
                <div style="padding-top: 10px;">
                    <label for="">Password</label>
                    <input type="password" pInputText style="width: 100%;" />
                </div>
            </p-card>
        </div>
    </div>
</body>

</html>